html,
body {
  background-color: whitesmoke;
}


.uk-card-title {
  font-weight: 600;
}

.uk-button {
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  &:hover {
    opacity: 0.8;
    transform: scale(0.9);
  }
}
