<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=F, initial-scale=1.0">
    <title>Consulta - Portal da Transparência</title>
    <link rel="shortcut icon" href="./assets/favicon-32x32.png" type="image/x-icon">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="./css/mainStyle.css">
</head>

<body>
    <div class="uk-text-center uk-text-middle uk-margin-top uk-position-center" id="app">
        <div class="uk-margin uk-card uk-card-default uk-card-body uk-width-1-1@m uk-width-1-2@s uk-align-center">
            <h3 class="uk-card-title">Benefícios concedidos no Brasil</h3>
            <p>Para visualizar quantas pessoas foram beneficiadas pelo bolsa família, por favor, selecione a
                região abaixo seguido do mês de consulta:</p>
            <form class="uk-margin uk-grid-small" uk-grid>
                <div class="uk-width-1-2@s">
                    <select class="uk-select" id="form-stacked-select" v-model="selected">
                       <!-- state options for api -->
                        <option v-for="option in options" v-bind:value="option.value">
                            {{ option.text }}
                        </option>
                    </select>
                </div>
                <div class="uk-width-1-2@s">
                    <select class="uk-select " id="form-stacked-select" v-model="dateSelected" >
                        <!-- month options for api -->
                        <option v-for="option in dateOptions" v-bind:value="option.value">
                            {{ option.text }}
                        </option>
                    </select>
                </div>
         <!-- <button class="uk-button uk-button-danger uk-align-center uk-margin-top">Visualizar Dados</button> -->
            </form>
            <!-- show error message if api get fails-->
            <section v-if="errored">
                <p>Pedimos desculpas, não estamos conseguindo recuperar as informações no momento. Por favor, tente
                    novamente mais tarde.</p>
            </section>
            <section v-else>
                <hr>
                <div v-if="loading" uk-spinner></div>
                <!-- return api data on html -->
                <div v-else v-for="(option, municipio, tipo) in benefits" :key="option.value">
                  <h3>Na Data Referência {{option.dataReferencia}}, em {{option.municipio.nomeIBGE}}, há {{option.quantidadeBeneficiados}} beneficiados no {{option.tipo.descricao}}.</h3>
                </div>

            </section>

        </div>
    </div>


    </div>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./js/app.js"></script>
</body>

</html>
