<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=F, initial-scale=1.0">
    <title>Teste Front-End</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="./css/mainStyle.css">
</head>

<body>
    <!-- navigation off-canvas -->


    <!-- navigation off-canvas -->
    <!-- navigaion desktop -->
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
        <nav class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980;">
            <!-- uk-visible@m show content only in devices width of 960px and larger -->
            <div class="uk-navbar-left uk-visible@m">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Home</a></li>
                    <li><a href="#">Serviços</a></li>
                </ul>
            </div>
            <!-- uk-hidden@m hidde content in devices width of 960px and larger -->
            <div class="uk-navbar-left uk-hidden@m">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Home</a></li>
                </ul>
            </div>
            <div id="offcanvas-nav" uk-offcanvas="overlay: true">
                <div class="uk-offcanvas-bar">

                    <ul class="uk-nav uk-nav-default">
                        <li class="uk-active"><a href="#">Home</a></li>
                        <li class="uk-parent">
                            <a href="#">Item 2</a>
                            <ul class="uk-nav-sub">
                                <li><a href="#">Item 2 - Child</a></li>
                                <li><a href="#">Item 2 - Child</a></li>
                            </ul>
                        </li>
                        <li class="uk-nav-header">About</li>
                    </ul>
                </div>
            </div>
            <div class="uk-navbar-right">
                <!-- uk-hidden@m hidde off-canvas menu in devices width of 960px and larger  -->
                <a uk-navbar-toggle-icon="" href="#offcanvas-nav" uk-toggle=""
                    class="uk-navbar-toggle uk-hidden@m uk-icon uk-navbar-toggle-icon"><svg width="20" height="20"
                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon">
                        <rect y="9" width="20" height="2"></rect>
                        <rect y="3" width="20" height="2"></rect>
                        <rect y="15" width="20" height="2"></rect>
                    </svg></a>
        </nav>
    </div>
    <!-- navigation -->
    <div class="uk-text-center uk-text-middle uk-margin-top" id="app">
        <div class="uk-margin uk-card uk-card-default uk-card-body uk-width-1-2@m uk-align-center">
            <h3 class="uk-card-title">Benefícios concedidos no Brasil</h3>
            <p>Para visualizar quantas pessoas foram beneficiadas pelo bolsa família, por favor, selecione a
                região abaixo seguido do mês de consulta:</p>
            <form class="uk-margin uk-grid-small" uk-grid>

                <div class="uk-width-1-2@s">
                    <select class="uk-select" id="form-stacked-select" v-model="selected">
                        <option v-for="option in options" v-bind:value="option.value">
                            {{ option.text }}
                        </option>
                    </select>
                </div>
                <div class="uk-width-1-2@s">
                    <select class="uk-select " id="form-stacked-select" v-model="dateSelected">
                        <option v-for="option in dateOptions" v-bind:value="option.value">
                            {{ option.text }}
                        </option>
                    </select>
                </div>

            </form>
            <section v-if="errored">
                <p>Pedimos desculpas, não estamos conseguindo recuperar as informações no momento. Por favor, tente
                    novamente mais tarde.</p>
            </section>
            <div v-else>
                <div v-for="(states, index) in gov_benefits" :key="index"></div>
                <p>teste</p>
                <p></p>
            </div>
        </div>
    </div>


    </div>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>